{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="card-rows">
    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>

    <div class="card card-shadow">
        <img class="card-img-top" src="{% static 'images/cart.png' %}" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">Coffee Large</h5>
            <h5>450 mg</h5>
            <div style="display: flex; justify-content: space-between;">
                <a href="#" class="btn btn-secondary" >Go somewhere</a>
                <h5>Tk. 500</h5>
            </div>
        </div>
    </div>
</div>
{% endblock content %}