/* .navbar{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 1;
}

.container{
	width: 100%;
	margin: 70px auto;
	position: relative;
}

body{
	background-color: hsl(0, 0%, 93%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
	background-color: #330f66!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

#payment-info{
	text-align: center;
}

#make-payment{
	background-color: lightcoral;
	padding: 5px;
	border-radius: 5px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: 10;
}


/* .hidden{
	display: none!important;
} 

.card-shadow{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
	background-color: #ffffff;
}

.card{
	float: left;
	width: 18rem;
	padding: 0 10px;
	margin: 20px;
}

.card-rows{
	width: 100%;
	margin: 10px;
} */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

.my-nav{
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	overflow: hidden;

	margin: 0 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #3d0caf;
}

.container{
	margin-top: 80px;
	background-color: hsl(0,0,93%)
}

#store{
	color: floralwhite;
	text-decoration: none;
	font-weight: 500;
	font-size: 24px;
	margin-left: 25px;
}
.cart{
	display: flex;
}
#cart-image{
	width: 35px;
	height: 35px;
	margin-right: -5px;
}
#cart-total{
	background-color: red;
	color: white;
	text-align: center;
	border-radius: 50%;
	width: 25px;
	height: 20px;
	display: block;
	margin-right: 25px;
}

/*  
	this part 
	is for 
	store.css 
*/


.card-row{
	display: flex;
	flex-direction: row;
	/* justify-content: space-around;
	justify-content: space-between; */
	flex-flow: wrap;
	margin: 20px 10%;
}

.card{
	width: 20%;
	height: 100%;
	padding: 10px;
	background: hsl(0,0,100%);
	border: 1px solid #3d0caf;
	border-radius: 10px;
	margin: 20px;
	transition: 0.3s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.card-image{
	height: 70%;
	width: 80%;
}

.card-body{
	margin: 0 10px;
	display: flex;
	justify-content: space-between;
}

.card-title{
	margin-top: 20px;
}

.card-button-price{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-button{
	text-decoration: none;
	border: 1px solid #3d0caf;
	text-align: center;
	background: #3d0caf;
	color: #ffffff;
	padding: 5px;
}

.card-button:hover{
	background: #280774;
}

.card-price{
	margin-bottom: 5px;
}

@media screen and (max-width: 1000px){
	.card{
		width: 40%;
	}
	.cart-page-body{
		width: 80%;
	}
}

@media screen and (max-width: 620px) {
	.container {
	  width: 100%;
	}
  
	.card {
	  width: 80%;
	}
}

/*  
	this part 
	is for 
	cart.css 
*/

.cart-page-body{
	width: 70%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
  
.card-checkout{
	border: 1px solid #000000;
	background: #ffffff;
	width: 100%;
	margin: 20px auto;
}

.card-cart-items{
	border: 1px solid #000000;
	background: #ffffff;
	width: 100%;
	margin: 20px auto;
}

.card-checkout{
}

.continue-shopping{
	margin: 20px 20px;
	background: #ffffff;
}
.continue-shopping-button{
	text-decoration: none;
	color: #ffffff;
	background: #3d0caf;
	font-size: 1.5rem;
	padding: 5px;
}

.continue-shopping-button:hover{
	background: #280774;
}

.card-total-checkout{
	margin: 50px 20px 20px 20px;
	display: flex;
	justify-content: space-between;
}

.checkout-button{
	text-decoration: none;
	color: #ffffff;
	background: #3d0caf;
	font-size: 1.5rem;
	padding: 5px;
}

.cart-info-name{
	display: flex;
	justify-content: space-between;
}

.cart-item-info{
	display: flex;
	margin: 10px 0px;
	justify-content: space-between;
}

.product-image-small{
	width: 50px;
	height: 70px;
}

.quantity-icon{
	width: 10px;
	height: 10px;
}

@media screen and (max-width: 1000px){
	.cart-page-body{
		width: 80%;
	}
}

@media screen and (max-width: 620px) {
	.cart-page-body{
		width: 90%;
	}
}